.answerOptions {
  display: flex;
  justify-content: space-around;
}

body {
  color: black;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  background-color: #f6edde;
}

h4 {
  color: black;
  font-family: "Open Sans Condensed";
  font-size: 35px;
  font-weight: 600;
  line-height: 1.3em;
  letter-spacing: 1px;
  text-align: center;
  margin-top: 25px;
  margin-bottom: 32px;
  text-transform: uppercase;
  padding-bottom: 26px;
}

h4::after {
  content: "";
  border: 2px solid;
  width: 100px;
  position: relative;
  top: 20px;
  display: block;
  margin: auto;
}
